.basket {
    width: 100%;
}
.container  {
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 10px;
}
.bascetCard {
    display: flex;
    flex-direction: column;
    padding: 100px 60px;
    gap: 20px;
    text-align: center;
    &__title {
        color: #000;
        font-size: 32px;
        font-weight: 600;
    }
}
.btn__end {
    text-align: end;
}
.btn {
    color: red;
    width: 150px;
    text-align: end;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    &__ul {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
}
.card__img {
    width: 169px;
    height: 169px;
    object-fit: cover;
    border-radius: 20px;
}



