.header {
  width: 100%;
}
.container {
  max-width: 1680px;
  padding: 0 10px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 0px;
  &_flex {
    width: 507px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: #EEF2D1;
    border-radius: 20px;
    font-size: 20px;
  }
  &_login {
    padding: 10px 30px;
    margin: 39px 80px 0px 0px;
    border: 1px solid black;
    border-radius: 10px;
  }
}
.none {
  display: none;
}

